.loading-screen__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation-delay: 4s;
}
